# Python artifacts
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# IDE/editor files
.vscode/
.idea/
.DS_Store

# Build outputs
dist/
build/
*.egg-info/

# Logs
*.log

# Local configs
config/aibleton.toml
